auto-install-peers=true
strict-peer-dependencies=true
node-linker=isolated
# public hoist Turbo packages
public-hoist-pattern[]=turbo
public-hoist-pattern[]=@changesets/cli
public-hoist-pattern[]=@turbo/gen
public-hoist-pattern[]=workspace-tools

# public hoist ESLint packages
public-hoist-pattern[]=@babel/eslint-parser
public-hoist-pattern[]=@babel/preset-env
public-hoist-pattern[]=@eslint/compat
public-hoist-pattern[]=@eslint/js
public-hoist-pattern[]=@next/eslint-plugin-next
public-hoist-pattern[]=@types/eslint
public-hoist-pattern[]=@types/eslint__js
public-hoist-pattern[]=eslint
public-hoist-pattern[]=eslint-config-prettier
public-hoist-pattern[]=eslint-config-turbo
public-hoist-pattern[]=eslint-plugin-import
public-hoist-pattern[]=eslint-plugin-prettier
public-hoist-pattern[]=eslint-plugin-react
public-hoist-pattern[]=eslint-plugin-tsdoc
public-hoist-pattern[]=eslint-plugin-turbo
public-hoist-pattern[]=globals
public-hoist-pattern[]=prettier
public-hoist-pattern[]=sort-package-json
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=stylelint-config-standard
public-hoist-pattern[]=typescript-eslint

# public hoist TypeScript packages
public-hoist-pattern[]=@swc/core
public-hoist-pattern[]=@types/node
public-hoist-pattern[]=load-tsconfig
public-hoist-pattern[]=ts-node
public-hoist-pattern[]=tsup
public-hoist-pattern[]=type-fest
public-hoist-pattern[]=typescript
# public hoist Jest packages
public-hoist-pattern[]=jest
public-hoist-pattern[]=jest-*
public-hoist-pattern[]=@jest/*
public-hoist-pattern[]=ts-jest
public-hoist-pattern[]=@types/jest


