name: CI
on:
    pull_request:
        branches:
            - main
concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v3
              with:
                  fetch-depth: 1
            - uses: ./.github/actions/setup
              name: Setup
            - name: Lint
              run: pnpm run lint:all
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v3
            - uses: ./.github/actions/setup
              name: Setup
            - name: Test
              run: pnpm run test:all
